html, body {
    /*background-image: url("../img/background.png");*/
    background-color: #FFF;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    margin: 0;
    height: 100%;
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px dashed #AFAFAF; 
    font-size:  1.7em;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #3c3c3c;
}

a:link, a:visited {
    color: #045491;
    font-weight : bold;
    text-decoration: none;
}

a:link:hover, a:visited:hover  {
    color: #045491;
    font-weight : bold;
    text-decoration : underline;
}

.titleMenu {
    color: #000;
    font-family: serif;
    font-size: 1.3em;
    font-variant: small-caps;
    font-weight: bold;
}

#left a, #left a:link, #left a:visited {
    display: block;
    font-size: 1.2em;
    color: #045491;
    font-weight: bold;
}

#left a:hover, #left a:visited:hover {
    display: block;
    color: #045491;
    font-weight: bold;
    background: rgba(102,124,73,0.5);
    text-decoration: none;
}

.menuCurrentItem {
    display: block;
    font-size: 1.2em;
    color: #045491;
    font-weight: bold;
    background: rgba(102,124,199,0.5);
}
